* {
    
}

/* header */
.header {
    background-color: white;
    color: red;
    border-style: dashed;
}

.headerTitle {
    text-align: left;
    margin: 1% 2%;
}

/* rating box*/
.ratingBox {
    border-radius: 30px;
    border-color: green;
    border-style: solid;
    margin: 5em, 5em;
    padding: 2em, 5em;
    width: 10em;
    /*
    font-size:
    text-color:
    etc
    */
    text-align: center;
}